<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Access Configurator{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% block stylesheets %}

            {#--- BOOTSTRAP ---#}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            {#--- FONT AWESOME ---#}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

            {#--- ADMIN LTE CSS (General theme)---#}
            <link rel="stylesheet" href="{{ asset('theme/AdminLTE/dist/css/AdminLTE.css') }}">

            {#--- ADMIN LTE SKINS (General theme)---#}
            <link rel="stylesheet" href="{{ asset('theme/AdminLTE/dist/css/skins/skin-blue.min.css') }}">

            {#--- CSS PRINCIPAL ---#}
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">

            {#--- X-EDITABLE (Edit fields in Administration)---#}
            <link href="{{ asset('css/bootstrap-editable.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/x-editable-for-ac.css') }}" rel="stylesheet"/>

        {% endblock %}

        {%  block javascripts %}

            {#--- JQUERY ---#}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

            {#--- BOOTSTRAP ---#}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            {#--- ADMIN LTE JS (General theme)---#}
            <script src="{{ asset('theme/AdminLTE/dist/js/app.min.js') }}"></script>
            <script src="{{ asset('theme/AdminLTE/dist/js/demo.js') }}"></script>
            <script src="{{ asset('theme/AdminLTE/dist/js/adminlte.min.js') }}"></script>
            <script src="{{ asset('theme/AdminLTE/dist/js/fastclick.js') }}"></script>

            {#--- X-EDITABLE (Edit fields in Administration)---#}
            <script src="{{ asset('js/bootstrap-editable.js') }}"></script>

            {#--- STICKY (Fix the total value on Config)---#}
            <script src="{{ asset('js/jquery.sticky.js') }}"></script>

<<<<<<< HEAD
=======
{#            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>#}
{#            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
{#            <script>#}
{#                const routes = require('../../public/js/fos_js_routes.json');#}
{#                import Routing from '../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js';#}

{#                Routing.setRoutingData(routes);#}
{#                Routing.generate('rep_log_list');#}
{#            </script>#}

>>>>>>> babc0e9a2a4c24bac816505f46dfee5d102fde5c
        {% endblock %}

    </head>

    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="{{ path('home') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>C</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Access</b>Configurator</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <i class="fas fa-bars"></i>
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->

        <div class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <div class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        {% if app.user %}
                        <img src="{{ asset('images/Risitas.jpg') }}" class="img-circle" alt="User Image">
                        {% else %}
                            <img src="{{ asset('images/default-avatar.png') }}" class="img-circle" alt="User Image">
                        {% endif %}
                    </div>
                    {% if app.user %}
                    <div class="pull-left info">
                        <p>Anthony Chapiron</p>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-8 btn-connexion">
                    {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="btn btn-block btn-success">Déconnexion</a>
                    {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-block btn-warning">Connexion</a>
                    {% endif %}
                </div>


                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENU PRINCIPAL</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Nos modèles</span>
                            <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                     </span>
                        </a>
                        <ul class="treeview-menu">
                            {% for model in models %}
                                <li><a href="#"><i class="fa fa-circle-o"></i>{{ model.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if app.user %}
                    <li class="treeview">
                        <a href="{{ path('admin') }}">
                            <i class="fa fa-dashboard"></i> <span>Administration</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.sidebar -->
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            {% block content %}
            {% endblock %}

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2019 - Création : <a href="https://www.linkedin.com/in/anthony-roux/">Anthony Roux</a>.</strong> All rights
            reserved.
        </footer>

    </div>
    <!-- /.tab-pane -->

    </body>

</html>
