<div class="tab-pane" id="tab_2">
    <table class="table table-bordered surface-list">
        <tr>
            <th>Nom</th>
            <th>Surface</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        {% for size in sizes %}
            <input type="hidden" value="{{ size.id }}">
            <tr>
                <td><a href="#" class="name">{{ size.name }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="surface">{{ size.surface }}</a> m² <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="price">{{ size.price }}</a> € <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="description">{{ size.description }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><img class="imgModeleBase" src="{{ asset('images/size/' ~ size.imgRdc) }}"></td>
                <td>
                    <button><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="box-footer clearfix">
        <form role="form" id="form-admin">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.name) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.surface) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.price) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.description) }}
                    </div>
                </div>
{#                <div class="col-sm">#}
{#                    <div class="form-group d-flex flex-column justify-content-center">#}
{#                        <label for="uploadImg">Choisissez votre image du RDC</label>#}
{#                        <input type="file" id="uploadImg">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-sm">#}
{#                    <div class="form-group d-flex flex-column justify-content-center">#}
{#                        <label for="uploadImg">Choisissez votre image de l'étage</label>#}
{#                        <input type="file" id="uploadImg">#}
{#                    </div>#}
{#                </div>#}
                <div class="col-sm align-self-center">
                    <div class="form-group">
                        <button type="submit" class="btn bg-olive margin add-element" data-type="surfaces">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>