{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <div class="col-md-auto py-4">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="title-tabs active"><a href="#tab_1" class="title-admin" data-toggle="tab">Modèles</a></li>
                <li class="title-tabs"><a href="#tab_2" class="title-admin" data-toggle="tab">Surfaces</a></li>
                <li class="title-tabs"><a href="#tab_3" class="title-admin" data-toggle="tab">Catégories</a></li>
                <li class="title-tabs"><a href="#tab_4" class="title-admin" data-toggle="tab">Options</a></li>
            </ul>
            <div class="tab-content tab-admin">
                {#------- MODELES -------#}
                {% include 'admin/adminModeles.html.twig' %}
                {#------- SURFACES -------#}
                {% include 'admin/adminSurfaces.html.twig' %}
                {#------- CATEGORIES -------#}
                {% include 'admin/adminCategories.html.twig' %}
                {#------- OPTIONS -------#}
                {% include 'admin/adminOptions.html.twig' %}
            </div>
        </div>
    </div>

    <script>
        var route_add_element = "{{ path('add_element') }}";
        var route_supp_element = "{{ path('supp_element') }}";
        var route_edit_element = "{{ path('edit_element') }}";
    </script>
    <script type="text/javascript" src="{{ asset('js/administration.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/x-editable-for-ac.js') }}"></script>

{% endblock %}

