<div class="tab-pane" id="tab_2">
    <table class="table table-bordered surface-list">
        <tr>
            <th style="width: 10%;">Nom</th>
            <th style="width: 15%;">Surface (en m²)</th>
            <th style="width: 10%;">Prix (en €)</th>
            <th style="width: 30%;">Description</th>
            <th style="width: 15%;">Image</th>
            <th style="width: 5%;">Action</th>
        </tr>
        {% for size in sizes %}
            <tr>
                <td><a href="#" class="editable name" data-type="text" data-pk="{{ size.id }}" data-url="{{ path('edit_element') }}" data-name="size">{{ size.name }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable size" data-type="text" data-pk="{{ size.id }}" data-url="{{ path('edit_element') }}" data-name="size">{{ size.surface }}</a><i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable price" data-type="text" data-pk="{{ size.id }}" data-url="{{ path('edit_element') }}" data-name="size">{{ size.price }}</a><i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable description" data-type="textarea" data-pk="{{ size.id }}" data-url="{{ path('edit_element') }}" data-name="size">{{ size.description }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><img class="imgModeleBase" src="{{ asset('images/size/' ~ size.imgRdc) }}"></td>
                <td class="list-actions">
                    <button class="trash-element" data-id="{{ size.id }}"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="box-footer clearfix">
        {{ form_start(formSize, {'id': 'form-admin'}) }}
        <form role="form">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <select id="all-models">
                            {% for model in models %}
                                <option value="{{ model.name }}">{{ model.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.surface) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.price) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formSize.description) }}
                    </div>
                </div>
{#                <div class="col-sm">#}
{#                    <div class="form-group d-flex flex-column justify-content-center">#}
{#                        <label for="uploadImg">Choisissez votre image du RDC</label>#}
{#                        <input type="file" id="uploadImg">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-sm">#}
{#                    <div class="form-group d-flex flex-column justify-content-center">#}
{#                        <label for="uploadImg">Choisissez votre image de l'étage</label>#}
{#                        <input type="file" id="uploadImg">#}
{#                    </div>#}
{#                </div>#}
                <div class="col-sm align-self-center">
                    <div class="form-group">
                        <button type="submit" class="btn bg-olive margin add-element" data-type="surfaces">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
        {{ form_end(formSize) }}
    </div>
</div>