<div class="tab-pane active" id="tab_1">
    <table class="table table-bordered model-list">
        <tr>
            <th style="width: 10%;">Nom</th>
            <th style="width: 10%;">Prix (en €)</th>
            <th style="width: 30%;">Description</th>
            <th style="width: 15%;">Image</th>
            <th style="width: 5%;">Action</th>
        </tr>
        {% for model in models %}
            <tr>
                <td><a href="#" class="editable name" data-type="text" data-pk="{{ model.id }}" data-url="{{ path('edit_element') }}" data-name="models">{{ model.name }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable price" data-type="text" data-pk="{{ model.id }}" data-url="{{ path('edit_element') }}" data-name="models">{{ model.price }}</a><i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable description" data-type="textarea" data-pk="{{ model.id }}" data-url="{{ path('edit_element') }}" data-name="models">{{ model.description }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><img class="imgModeleBase" src="{{ asset('images/modeles/' ~ model.img) }}"></td>
                <td class="list-actions">
                    <button class="trash-element" data-id="{{ model.id }}"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="box-footer clearfix">
        <form role="form" id="form-admin">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formModel.name) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formModel.price) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formModel.description) }}
                    </div>
                </div>
{#                <div class="col-sm">#}
{#                    <div class="form-group d-flex flex-column justify-content-center">#}
{#                        <label for="uploadImg">Choisissez votre image</label>#}
{#                        <input type="file" id="uploadImg">#}
{#                    </div>#}
{#                </div>#}
                <div class="col-sm align-self-center">
                    <div class="form-group">
                        <button type="submit" class="btn bg-olive margin add-element" data-type="models">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>