<div class="tab-pane" id="tab_4">
    <table class="table table-bordered option-list">
        <tr>
            <th style="width: 10%;">Nom</th>
            <th style="width: 10%;">Prix (en €)</th>
            <th style="width: 30%;">Description</th>
            <th style="width: 5%;">Actions</th>
        </tr>
        {% for option in options %}
            <tr>
                <td><a href="#" class="editable name" data-type="text" data-pk="{{ option.id }}" data-url="{{ path('edit_element') }}" data-name="options">{{ option.name }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable price" data-type="text" data-pk="{{ option.id }}" data-url="{{ path('edit_element') }}" data-name="options">{{ option.price }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td><a href="#" class="editable description" data-type="textarea" data-pk="{{ option.id }}" data-url="{{ path('edit_element') }}" data-name="options">{{ option.description }}</a> <i class="fas fa-pen-alt min-size"></i></td>
                <td class="list-actions">
                    <button class="trash-element" data-id="{{ option.id }}"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="box-footer clearfix">
        <form role="form" id="form-admin">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formOptions.name) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formOptions.price) }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form_row(formOptions.description) }}
                    </div>
                </div>
                <div class="col-sm align-self-center">
                    <div class="form-group">
                        <button type="submit" class="btn bg-olive margin add-element" data-type="options">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>