{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <div class="col-md-auto py-4">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="title-tabs active"><a href="#tab_1" class="title-admin" data-toggle="tab">Modèles</a></li>
                <li class="title-tabs"><a href="#tab_2" class="title-admin" data-toggle="tab">Surfaces</a></li>
                <li class="title-tabs"><a href="#tab_3" class="title-admin" data-toggle="tab">Catégories</a></li>
                <li class="title-tabs"><a href="#tab_4" class="title-admin" data-toggle="tab">Options</a></li>
            </ul>
            <div class="tab-content">
                {#------- MODELES -------#}
                <div class="tab-pane active" id="tab_1">
                    <table class="table table-bordered">
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>Image</th>
                        </tr>
                        {% for model in models %}
                            <tr>
                                <td>{{ model.name }}</td>
                                <td>{{ model.price }} €</td>
                                <td>{{ model.description }}</td>
                                <td><img class="imgModeleBase" src="{{ asset('images/modeles/' ~ model.img) }}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="box-footer clearfix">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input id="name" type="text" class="form-control" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="price">Prix</label>
                                        <input id="price" type="number" class="form-control" placeholder="Prix">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input id="description" type="text" class="form-control" placeholder="Description">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group d-flex flex-column justify-content-center">
                                        <label for="uploadImg">Choisissez votre image</label>
                                        <input type="file" id="uploadImg">
                                    </div>
                                </div>
                                <div class="col-sm align-self-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-olive margin">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {#------- SURFACES -------#}
                <div class="tab-pane" id="tab_2">
                    <table class="table table-bordered">
                        <tr>
                            <th>Nom</th>
                            <th>Surface</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>Image</th>
                        </tr>
                        {% for size in sizes %}
                            <tr>
                                <td>{{ size.name }}</td>
                                <td>{{ size.surface }} m²</td>
                                <td>{{ size.price }} €</td>
                                <td>{{ size.description }}</td>
                                <td><img class="imgModeleBase" src="{{ asset('images/size/' ~ size.imgRdc) }}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="box-footer clearfix">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input id="name" type="text" class="form-control" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="surface">Surface</label>
                                        <input id="surface" type="number" class="form-control" placeholder="Surface">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="price">Prix</label>
                                        <input id="price" type="text" class="form-control" placeholder="Prix">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <input id="description" type="text" class="form-control" placeholder="Description">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group d-flex flex-column justify-content-center">
                                        <label for="uploadImg">Choisissez votre image du RDC</label>
                                        <input type="file" id="uploadImg">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group d-flex flex-column justify-content-center">
                                        <label for="uploadImg">Choisissez votre image de l'étage</label>
                                        <input type="file" id="uploadImg">
                                    </div>
                                </div>
                                <div class="col-sm align-self-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-olive margin">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {#------- CATEGORIES -------#}
                <div class="tab-pane" id="tab_3">
                    <table class="table table-bordered">
                        <tr>
                            <th>Nom</th>
                        </tr>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{ categorie.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="box-footer clearfix">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input id="name" type="text" class="form-control" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-sm align-self-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-olive margin">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {#------- OPTIONS -------#}
                <div class="tab-pane" id="tab_4">
                    <table class="table table-bordered">
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                        </tr>
                        {% for option in options %}
                            <tr>
                                <td>{{ option.name }}</td>
                                <td>{{ option.price }} €</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="box-footer clearfix">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input id="name" type="text" class="form-control" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="price">Prix</label>
                                        <input id="price" type="number" class="form-control" placeholder="Prix">
                                    </div>
                                </div>
                                <div class="col-sm align-self-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-olive margin">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function() {

            $('.title-admin').on('click', function(){
                $('.title-tabs').removeClass('active');
                $(this).parents('.title-tabs').addClass('active');
            })

            $('button:submit').on('click', function(e){

                e.preventDefault();

                var thisButton = $(this);
                var formData = new FormData();

                $.ajax({
                    type: 'POST',
                    url: '{{ path('edit_elements') }}',
                    data: formData,
                    processData: false,
                    contentType: false
                })
                    .done(function (data) {
                        alert(data)
                    })
                    .fail(function () {
                        alert('fail')
                    });
            })

        });

    </script>

{% endblock %}

