{% extends 'base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Configuration du projet</h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('home') ~ '?name="' ~ name ~ '"' }}">Modèle</a></li>
            <li class="active">Surface</li>
            <li class="active">Configuration</li>
        </ol>
    </section>

    <div>Vous avez choisi </div>

    {% for category in categories %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ category.name }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                {% for option in options if option.category == category.name %}
                    <div class="box-body">
                        <div class="d-flex justify-content-between">
                            <p>{{ option.name }}</p>
                            <p>{{ option.price }} €</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm"><i class="far fa-plus-square"></i></button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                {% endfor %}
            </div><!-- /.box -->
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center">
        <a href="{{ path('total', {'name': name, 'surface': size.surface}) }}" class="btn btn-lg btn-success">Valider</a>
    </div>


{% endblock %}