{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Configuration du projet</h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('home') ~ '?name="' ~ name ~ '"' }}">Modèle</a></li>
            <li class="active">Surface</li>
            <li class="active">Configuration</li>
        </ol>
    </section>

    <div id="total-configs" class="total-config">
            Coût total, options incluses <br><span class="value-config" data-value="{{ size.price }}" >{{ size.price }}</span><span> €</span>
    </div>

    <div class="config-content">
    {% for category in categories %}
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title category-name">{{ category.name }}</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Matière</th>
                                <th>Couleur</th>
                                <th>Prix</th>
                            </tr>
                            {% for product in products if product.category.id == category.id %}
                                <tr class="option-select" data-value="" data-id="{{ product.id }}" data-active="false">
                                    <td>{{ product.name }}</td>
                                    <td>
                                        <select>
                                            {% for productOption in product.productOptions %}
                                                {% if productOption.type is not null %}
                                                    <option value="{{ productOption.id }}">{{ productOption.type }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select>
                                            {% for productOption in product.productOptions %}
                                                {% if productOption.material is not null %}
                                                    <option value="{{ productOption.id }}">{{ productOption.material }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select>
                                            {% for productOption in product.productOptions %}
                                                {% for color in productOption.color %}
                                                    <option value="{{ productOption.id }}">{{ color }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td class="option-price">
                                        <div class="option-price-selected"></div>
                                        {% for productOption in product.productOptions %}
                                            {% for price in productOption.price if price.id == size.id %}
                                                <input type="hidden" value="{{ price.price }}" data-product-option-id="{{ productOption.id }}">
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                    <td class="option-button"><button type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row justify-content-center">
        <a href="{{ path('total', {'name': name, 'surface': size.surface}) }}" class="btn btn-lg btn-success submitOptions">Valider</a>
    </div>

    <script>

        $(document).ready(function() {

            let tabId = [];
            let total;
            let totalPrice = $(".value-config");

            $(".btn-success").on('click', function() {

                let id = $(this).parents(".option-select").data("id");
                let value = parseInt($(this).parents(".option-select").data("value"));

                if(!tabId.includes(id))
                {
                    tabId.push(id);
                    total = value + totalPrice.data("value");
                    $(this).parents(".option-select").attr("data-active", "true");
                }
                else {
                    total = totalPrice.data("value") - value;
                    tabId = jQuery.grep(tabId, function(value){
                        return value !== id;
                    });
                    $(this).parents(".option-select").attr("data-active", "false");
                }

                totalPrice.data("value", total);

                totalPrice.html(new Intl.NumberFormat().format(total));
            });

            totalPrice[0].textContent = new Intl.NumberFormat().format(totalPrice[0].textContent);

            $("#total-configs").sticky({topSpacing:-35});

            // Efface les select qui ne comportent pas d'options
            $('td').each(function() {
                let tdWithSelect = $(this).find('select')
                if(tdWithSelect.length !== 0) {
                    if(tdWithSelect.find('option').length === 0) {
                        $(this).html("/")
                    }
                }
            });

            // Afficher le prix de l'option sélectionné dans .option-price
            $('select').each(function() {
                    showPriceOptionSelected($(this));
                $(this).on('change', function () {
                    let optionSelectPrice = $(this).parents('.option-select').find('.option-price-selected').html()
                    let optionSelectId = $(this).parents('.option-select').attr('data-id')
                    optionSelectPrice = optionSelectPrice.substring(0, optionSelectPrice.length - 2)
                    showPriceOptionSelected($(this));
                    if($(this).parents('.option-select').attr('data-active') === 'true') {
                        total = totalPrice.data("value") - optionSelectPrice;
                        $(this).parents('.option-select').attr('data-active', 'false')
                        tabId = jQuery.grep(tabId, function(value){
                            return value !== parseInt(optionSelectId);
                        });
                        totalPrice.data("value", total);
                        totalPrice.html(new Intl.NumberFormat().format(total));
                    }
                })
            });

            function showPriceOptionSelected(context) {
                let idOptionSelected = context.find('option:selected')[0].value
                let thisOptionPrice = context.parents('.option-select').find('.option-price')
                let price = "";
                thisOptionPrice.find('input:hidden').each(function(index, item) {
                    if(index+1 == idOptionSelected) {
                        thisOptionPrice.find(".option-price-selected").html(item.value+" €")
                        $(this).parents(".option-select").data("value", item.value)
                        price = item.value
                    }
                });
                return price;
            }
        });

    </script>

{% endblock %}
