{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Configuration du projet</h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('home') ~ '?name="' ~ name ~ '"' }}">Modèle</a></li>
            <li class="active">Surface</li>
            <li class="active">Configuration</li>
        </ol>
    </section>

    <div>Vous avez choisi </div>

    {% for category in categories %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ category.name }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                {% for option in options if option.category == category.name %}
                    <div class="box-body option-select" data-value="{{ option.price }}" data-category="{{ option.category }}" data-id="{{ option.id }}" data-active="false">
                        <div class="d-flex justify-content-between">
                            <p>{{ option.name }}</p>
                            <p class="price">{{ option.price }} €</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                {% endfor %}
            </div><!-- /.box -->
        </div>
    </div>
    {% endfor %}

    <div>TOTAL = <span class="total-config" data-value="{{ size.price }}">{{ size.price }}</span></div>

    <div class="row justify-content-center">
        <a href="{{ path('total', {'name': name, 'surface': size.surface}) }}" class="btn btn-lg btn-success">Valider</a>
    </div>

    <script>
        $(document).ready(function() {

            let tabId = [];
            let tabCategory = [];
            let total;
            let precValue;

            $(".btn-success").on('click', function() {

                let id = $(this).parents(".option-select").data("id");
                let value = $(this).parents(".option-select").data("value");
                let category = $(this).parents(".option-select").data("category");
                let totalPrice = $(".total-config");

                if(tabCategory.includes(category))
                {
                    console.log(precValue)
                    console.log(value)
                    total = totalPrice.data("value") - precValue + value;
                    console.log(total)

                    tabCategory = jQuery.grep(tabCategory, function(category){
                        return category !== id;
                    });
                }

                if(!tabId.includes(id))
                {
                    tabId.push(id);
                    tabCategory.push(category);
                    total = value + totalPrice.data("value");
                    precValue = value;
                    $(this).parents(".option-select").data("active", "true");
                } else {
                    total = totalPrice.data("value") - value;
                    precValue = value;
                    tabId = jQuery.grep(tabId, function(value){
                        return value !== id;
                    });
                }

                totalPrice.data("value", total);
                totalPrice.text(total);
            })

        });

    </script>

{% endblock %}