{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Configuration du projet</h1>
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('home') ~ '?name="' ~ name ~ '"' }}">Modèle</a></li>
            <li class="active">Surface</li>
            <li class="active">Configuration</li>
        </ol>
    </section>

    <div id="total-configs" class="total-config">
            Coût total, options incluses = <br><span class="value-config" data-value="{{ size.price }}" >{{ size.price }}</span><span> €</span>
    </div>

    <div class="config-content">
    {% for category in categories %}
        <div class="row justify-content-center ">
            <div class="col-md-8">
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title category-name">{{ category.name }}</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Nom</th>
                                <th>Matière</th>
                                <th>Couleur</th>
                            </tr>
                            {% for product in products if product.category.id == category.id %}
                                <div>{{ dump(product) }}</div>
                                <tr class="option-select" {#data-value="{{ option.price }}" data-id="{{ option.id }}"#} data-active="false">
                                    <td>{{ product.name }}</td>
{#                                    <td>#}
{#                                        <select>#}
{#                                            {% for material in constant('App\\Entity\\Options::MATERIALS') %}#}
{#                                                <option value="">{{ material }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <select>#}
{#                                            {% for color in constant('App\\Entity\\Options::COLORS') %}#}
{#                                                <option value="">{{ color }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </td>#}
{#                                    <td class="option-button"><button type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button></td>#}
                                    <td class="option-price">+ {{ product.productOptions.name }} €</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row justify-content-center">
        <a href="{{ path('total', {'name': name, 'surface': size.surface}) }}" class="btn btn-lg btn-success submitOptions">Valider</a>
    </div>

    <script>

        $(document).ready(function() {

            let tabId = [];
            let total;
            let totalPrice = $(".value-config");

            $(".btn-success").on('click', function() {

                let id = $(this).parents(".option-select").data("id");
                let value = $(this).parents(".option-select").data("value");

                if(!tabId.includes(id))
                {
                    tabId.push(id);
                    total = value + totalPrice.data("value");
                    $(this).parents(".option-select").attr("data-active", "true");
                }
                else {
                    total = totalPrice.data("value") - value;
                    tabId = jQuery.grep(tabId, function(value){
                        return value !== id;
                    });
                    $(this).parents(".option-select").attr("data-active", "false");
                }

                totalPrice.data("value", total);

                totalPrice.html(new Intl.NumberFormat().format(total));
            });

            totalPrice[0].textContent = new Intl.NumberFormat().format(totalPrice[0].textContent);

            $("#total-configs").sticky({topSpacing:-35});

        });

    </script>

{% endblock %}

{#<div class="box-body option-select" data-value="{{ option.price }}" data-category="{{ option.category }}" data-id="{{ option.id }}" data-active="false">#}
{#    <div class="d-flex justify-content-between">#}
{#        <p>{{ option.name }}</p>#}
{#        <p class="option-price">{{ option.price }} €</p>#}
{#        <div class="btn-group">#}
{#            <button type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i></button>#}
{#        </div>#}
{#    </div>#}