{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Choix du modèle de maison</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Modèle </a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <section class="col-lg-12 connectedSortable d-flex justify-content-around">
                {% for model in models %}
                    <div class="card" style="width: 25rem;">
                        <img src="{{ asset('images/modeles/' ~ model.img) }}" class="card-img-top model-img" alt="...">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title model-name">{{ model.name }}</h5>
                                <p class="card-text">{{ model.description }}</p>
                            </div>
                            <div class="link-block">
                                <p class="card-text model-price">A partir de <br><span class="price"> {{ model.price }}</span><span class="euro"> €</span></p>
                                <a href="{{ model.name }}" class="btn btn-primary model-choice">Choisir ce modèle</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>

        </div>
    </section>

    <script>

        var price = $(".price");

        $(document).ready(function() {

            for(var i=0; i <= price.length - 1; i++){
                price[i].textContent = new Intl.NumberFormat().format(price[i].innerHTML);
            }

        });

    </script>

{% endblock %}
