{% extends 'AdminLTE/AdminLTE_base.html.twig' %}

{% block content %}

    <section class="content-header">
        <h1>Choix du modèle de maison</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Modèle </a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <section class="col-lg-12 connectedSortable d-flex justify-content-around">
                {% for model in models %}
                    <div class="card" style="width: 25rem;">
                        <img src="{{ asset('images/modeles/' ~ model.img) }}" class="card-img-top img-model-home" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ model.name }}</h5>
                            <p class="card-text">{{ model.description }}</p>
                            <p class="card-text">A partir de {{ model.price }} €</p>
                            <a href="{{ model.name }}" class="btn btn-primary">Choisir ce modèle</a>
                        </div>
                    </div>
                {% endfor %}
            </section>

        </div>
    </section>

{% endblock %}